@mixin font-primary() {
  font-family: 'Lora', serif;
}

@mixin font-primary-weight($weight) {
  @if $weight == 'regular' {
    font-weight: 400;
  }
  @else if $weight == 'semibold' {
    font-weight: 600;
  }
  @else if $weight == 'bold' {
    font-weight: 700;
  }
}

@mixin font-primary-size($size) {
  @if $size == 'tiny' {
    font-size: 0.5rem;
  }
  @else if $size == 'small' {
    font-size: 0.75rem;
  }
  @else if $size == 'regular' {
    font-size: 1rem;
  }
  @else if $size == 'large' {
    font-size: 1.25rem;
  }
}

@mixin font-accent() {
  font-family: 'Fredoka One', cursive;
  font-weight: 400;
}